!!! 5
%html
  %head
    %title App
    %link(href="/public/css/vendor/bulma.css", rel="stylesheet")
    %link(href="/public/css/style.css", rel="stylesheet")

  %body
    .container
      .content
        .box
          %section
            %h1 To-do list
            ${self.body()}

    %script(src="/public/js/vendor/axios.js", type="text/javascript")
    %script(src="/public/js/app.js", type="text/javascript")
