* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, html body {
  background: #EEE;
  color: #222;
}

ul.todos {
  list-style-type: none;
  font-size: 1.2em;
}

.todo label.done span {
  text-decoration: line-through;
  color: #888;
}
